<xw-block title="${cName}管理">
#foreach($fi in $fList)
  #if($fi.name != $idName)
    <van-row custom-class="row">
    <van-col offset="1" span="22">
      <van-field   value="{{ form.${fi.name} }}" right-icon="arrow-down" left-icon="search"  placeholder="${fi.comment}"  bind:change="onChange${fi.upper_camel}" />
    </van-col>
  </van-row>
  #end
 #end
</xw-block>
<xw-block>
  <van-row custom-class="row">
    <van-col offset="1" span="22">
      <van-button loading="{{but.savebutloading}}" disabled="{{but.savebutdisabled}}" 
	  type="info" loading-text="处理中..." class="demo-margin-right" bind:click="doSave">保  存</van-button>
    </van-col>
  </van-row>
</xw-block>
