*.iml
gen_code_v2/code_jdbc/target/classes/org/alvin/code/jdbc/JDBCBaseDao.class
gen_code_v2/code_jdbc/target/code_jdbc-2.0-SNAPSHOT.jar
gen_code_v2/code_jdbc/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
gen_code_v2/code_jdbc/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
gen_code_v2/code_ui/code_ui.iml
