/*${cName}新增与修改},作者:${auth},日期:${time}*/
<template>
      <Modal :title="title" v-model="show" :scrollable="false" :mask-closable="false" width="600">
            <Form :model="form" ref="form" :rules="rules" :label-width="100">
                  <Row>
                        <i-col>
                            #foreach($field in $fList)
                                <FormItem label="${field.comment}" prop="${field.name}"><Input placeholder="${field.comment}" v-model="form.${field.name}"/></FormItem>
                            #end
                            </i-col>
                      </Row>
                </Form>
            <div slot="footer" style="text-align: right">
              <Button @click="show = false">取消</Button>
              <Button type="primary" @click="save()">确定</Button>
            </div>
          </Modal>
    </template>
<script>
  import  {mapState, mapGetters, mapMutations, mapActions}  from 'vuex';
  export default {
    components: {},
    data() {
      return {
    		rules: {
                #foreach($field in $fList)
                    ${field.name} :[
                    {required: true, message: '请输入${field.comment}', trigger: 'blur'},
                  //  {min: 1, max: 10, message: '${field.comment}长度不正确', trigger: 'blur'},
                ],
                #end
    		},
       }
    }, computed: {
      ...mapGetters({}),
      ...mapState({
        form: (state) => state.${lowUpp}.form,
        title: (state) => state.${lowUpp}.title,
        dialogMode: (state) => state.${lowUpp}.dialogMode,
      }),
      show: {
        get () {
          return this.${dollar}store.state.${lowUpp}.show
        },
        set (value) {
          this.${dollar}store.commit('${lowUpp}/showDialog', value)
        }
      }
    },
    methods: {
      ...mapActions({}),
      ...mapMutations({}),
      save() {//新增及修改记录
        const that = this;
        this.${dollar}refs['form'].validate((valid) => {
          if (!valid) {
            return;
          }
          that.${dollar}store.dispatch("${lowUpp}/save")
        });
      },
    }
  }
</script>
<style></style>