/*${cName}管理,作者:${auth},日期:${time}*/
<template>
      <div>
          <!-- <h3>${cName}</h3> <hr/> -->
            <Form inline :label-width="70">
                #foreach($field in $fList)
                    <FormItem label="${field.comment}"><Input placeholder="请输入${field.comment}" v-model="form.${field.name}"/></FormItem>
                #end
                  <FormItem>
                        <Button icon="search" @click="refresh" title="根据输入的条件查询" type="primary">查询</Button>
                        <Button type="primary" icon="plus" @click="doAdd()" title="添加" >添加</Button>
                      </FormItem>
                </Form>
            <Table :loading="loading" :columns="tableHeader" :data="dataList" style="width: 100%"></Table>

            <br/>
            <div style="text-align: right" v-if="total > 0">
              <Page size="small" :current="page" :total="total" show-total  @on-change="(curr) => {this.page = curr ; this.refresh();}
              show-sizer @on-page-size-change="(pageSize) => { this.pageSize = pageSize ; this.refresh();}" :page-size="pageSize"  "></Page>
            </div>
        <${clsUpp}Dialog ref="dialog" :refresh="refresh"></${clsUpp}Dialog>
  </div>
</template>
<script>
import {Message, Modal} from 'iview';
import ${clsUpp}Dialog from './${clsUpp}Dialog.vue';
import ${clsUpp}Expand from './${clsUpp}Expand.vue';


  export default {
    components: {${clsUpp}Dialog,${clsUpp}Expand },
    data: function () {
      const that = this;
      return {
        tableHeader: [
          {
            type: 'expand',
            width: 50,
            render: (h, params) => {
              return h(${clsUpp}Expand, {
                props: {row: params.row}
              })
            }
          },
          #foreach($field in $fList)
                  {title: '${field.comment}', key: '${field.name}'},
          #end
          {
            title: '操作',
            width: 150,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {type:'primary',size:'small'},
                  style: {marginRight: '5px'},
                  on: {
                    click: () => {
                      that.doEdit(params.row)
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {type: 'primary',size: 'small'},
                  on: {
                    click: () => {
                      that.doDelete(params.row)
                    }
                  }
                }, '删除')
              ]);
            }
          }
        ],
        total: 0,
        page: 1,
        pageSize: 20,
        dataList: [],
        form: {
            #foreach($field in $fList)
                ${field.name} : null,// ${field.comment}
            #end
        },
        loading: false
      }
    },
    computed: {},
    created: function () {
      this.refresh();
    },
    methods: {
      refresh() {
        const that = this;
        that.loading = true;
        const requestData = {...that.form, page: that.page - 1,size:that.pageSize};
        that.${dollar}http.post("/api/${lowUpp}/queryPage", JSON.stringify(requestData)).then(res => {
		          that.loading = false;
		          that.dataList = res.data.content;
		          that.total = res.data.totalElements;
		        }).catch(res => {
		        Message.error({ content: "获取${cName}列表失败：" + res });
		        });
      },
      doAdd() {
        this.${dollar}refs["dialog"].addDialog();
      },
      doEdit(row) {
        this.${dollar}refs["dialog"].editDialog(row);
      },
      doDelete(row) {
        const that = this;
      Modal.confirm({
        title: '提示',
        content: '您确定要删除吗?',
        closable:true,
        onOk: () => {
          this.${dollar}http.delete("/api/${lowUpp}/delete", {
		            params: {id: row.${idName}}
		          }).then(res => {
		            Message.success({ content: "删除成功" });
		            that.refresh();
		          }).catch(res => {
		            Message.error({ content: "删除失败：" + res });
		          });
        },
        onCancel: () => {
        }
      });
      }
    }
  }
</script>
<style></style>