/*
 * author ${author}
 * date ${date}
 * 控制器名称： ${actionName}
 * 描述：${note}
*/

import axios from 'axios';
import qs from 'qs';
import {getGlobalToken} from '../utils/constant';

export  default {

    #foreach ($fun in $methods)
    /**
    * ${fun.note}
    * @params payload
    #foreach($param in $fun.params)
    *  @param ${param.name} | 是否必传： ${param.required} | 描述：${param.description} | 前端类型： ${param.type} |传参类型： ${param.in}
    #end
    * @returns ${fun.description}
    */
    ${fun.name}(payload) {
        return axios({
            method: '${fun.method}',
            url: ${fun.url},
            headers:{
            #if($fun.reqParamType == 'body')
            'content-type': '${fun.consumes}',
            #end
            'platform':3,
            'version': 2.0,
            'channel' : 0,
            'Authorization' : getGlobalToken()
            },
            #if($fun.method == 'get')
            params: {...payload}
            #end
            #if($fun.method == 'post')
                #if($fun.reqParamType == 'body')
            data: JSON.stringify(payload)
                #end
                #if($fun.reqParamType == 'formdata')
            data: qs.stringify(payload)
                #end
            #end
            #if($fun.method == 'put')
            data: qs.stringify(payload)
            #end
            #if($fun.method == 'delete')
            data: {...payload}
            #end
      });
    },
    #end

}


