package ${packageName} ;

/**
* 类说明: ${table.comment}--查询条件实体类
* @author ${author}
* 生成日期 ${time}
**/
@lombok.Setter
@lombok.Getter
@lombok.experimental.Accessors(chain = true)
@lombok.Builder	
@lombok.AllArgsConstructor
@lombok.NoArgsConstructor
@io.swagger.annotations.ApiModel(value = "${table.className}Fk", description = "${table.comment}--实体类-外键")
public class ${table.className}Fk extends ${table.className}{

    //数据库中的字段
    #foreach ($fi in $fkLabels)
	@io.swagger.annotations.ApiModelProperty(value = "${fi.comment}", dataType = "${fi.allTypeName}")
    private ${fi.allTypeName} ${fi.classVarName}${fi.upperCamel} ;//  ${fi.comment}
    #end

    //此处可添加查询显示辅助字段

}