package ${packageName} ;

/**
* 类说明: ${table.comment}--查询条件实体类
* @author ${author}
* 生成日期 ${time}
**/
@lombok.Setter
@lombok.Getter
@lombok.experimental.Accessors(chain = true)
@lombok.Builder	
@lombok.AllArgsConstructor
@lombok.NoArgsConstructor
@io.swagger.annotations.ApiModel(value = "${table.className}FkCond", description = "${table.comment}--查询条件实体类-外键")
public class ${table.className}FkCond extends ${table.className}Cond {

    /**
    * 方法说明: 拼加自定义条件
    **/
    @Override
    public void addCondition() {
		super.addCondition();
    #foreach ($fi in $fkLabels)
        #if($fi.type == "String")
			add(this.${fi.lowerCamel} , " AND ${fi.classVarName}.${fi.name} LIKE ? " ,3);
		#elseif($fi.type == "Date")
			add(this.${fi.lowerCamel} , " AND ${fi.classVarName}.${fi.name} = ? " );
			add(org.alvin.cishan.sys.util.DateUtil.setStart(this.${fi.lowerCamel}Start ), " AND ${fi.classVarName}.${fi.name} >= ? "); //${fi.comment}开始
			add(org.alvin.cishan.sys.util.DateUtil.setEnd(this.${fi.lowerCamel}End), " AND ${fi.classVarName}.${fi.name} <= ? "); //  ${fi.comment}结束
        #else
			add(this.${fi.lowerCamel} , " AND ${fi.classVarName}.${fi.name} = ? " );
        #end
    #end
    }

    //属性
	#foreach ($fi in $fkLabels)
        @io.swagger.annotations.ApiModelProperty(value = "${fi.comment}", dataType = "${fi.allTypeName}")
    private  ${fi.allTypeName}  ${fi.lowerCamel} ;//  ${fi.comment}
		//日期查询范围
		#if($fi.type == "Date")
			@io.swagger.annotations.ApiModelProperty(value = "${fi.comment}开始", dataType = "${fi.allTypeName}")
			private  ${fi.allTypeName}  ${fi.lowerCamel}Start ;//  ${fi.comment}开始
			@io.swagger.annotations.ApiModelProperty(value = "${fi.comment}结束", dataType = "${fi.allTypeName}")
			private  ${fi.allTypeName}  ${fi.lowerCamel}End ;//  ${fi.comment}结束
		#end
    #end

}