import Page from '../../../../common/page';
import Dialog from '../../../../dist/dialog/dialog'
import ${upp}Api from '../../../../utils/${upp}Api.js'
var util = require('../../../../utils/util.js');

Page({
  data: {
    show:{
      searchdia : false,  // 是否显示筛选条件
      selectAll : false,  // 是否全选
      datadeta : false,   // 详细数据是否显示
      opAllshow: false,   // 是否显示多选操作窗口
    },
    dataList: [],
	value: null
  },
  
  showdatadeta(event){ // 查看数据的详细信息
    const id = event.currentTarget.dataset.id;
    if(id != undefined){

    }
    console.log("showdatadeta, id=",id)
    this.toggle("datadeta")
  },
  selects(){  // 全选 / 取消全选
    let dataList = this.data.dataList
    const isselect = !this.data.show.selectAll
    for (let i in dataList){
      dataList[i].select = isselect
    }
    this.setData({ dataList, 'show.selectAll' : isselect })
  },
  selectindex(event) {  // 全选 / 取消全选
    console.log("selectindex=",event)
    const rowindex = event.currentTarget.dataset.rowindex;
    var param = {};
    var temp_str = 'dataList[' + rowindex + '].select';
    const isselect = !this.data.dataList[rowindex].select
    this.setData({ [temp_str]: isselect })
    console.log("this.data.dataList=", this.data.dataList)
  },
  opAllshow(){  // 显示多选操作框
    const dataList = this.data.dataList
    let opidArr = []
    for (let i in dataList) {
      if (dataList[i].select) opidArr.push(dataList[i].id)
    }
    if (opidArr.length < 1) {
      util.showErrorToast("请先选择数据！");
      return
    }
    this.toggle("opAllshow")
  },
  closeopAllshow(){
    this.setData({'show.opAllshow': false })
  },
  deleteAll() {  // 多选删除
    this.opAll(3)
  },
  frozenAll() { // 多选冻结
    this.opAll(2)
  },
  opAll(optype) {  // 多选操作 optype 2=冻结 3=删除
    let msg = "冻结"
    if (optype == 3) msg = "删除"
    const dataList = this.data.dataList
    let opidArr = dataList.map(item => item.id);
    if (opidArr.length < 1){
      util.showErrorToast("请先选择数据！");
      return
    }
    console.log("deleteAll 选择的数据=", opidArr)
	const that = this;
    try {
      Dialog.confirm({
        title: '确认' + msg+' ？',
      }).then(() => {
		${upp}Api.deleteAll(opidArr ,(res) => {
		  if(res.code == 0){
			   that.setData({ 'show.opAllshow': false, 'show.selectAll' : false })
			  // 业务处理
			  util.showSuccessToast(msg+'成功!')
			  that.loaddata()
		  }else {
			util.showErrorToast(res.errorMsg);
		  }
		 
		});
      
      }).catch(() => { })
    } catch (e) {
      console.log(e)
    }
  },
  onSearch(event){  // 搜索
    const value = event.detail;
    console.log("onSearch  value=", value)
    this.loaddata()
  },
  searchpopup(){ // 筛选条件
    this.toggle("searchdia")
  },
  search(){ // 搜索
    this.searchpopup()
  },
  add(){    //  新增
    wx.navigateTo({
      url: '/pages/factory/assets/${lowUpp}/edit/${upp}Edit',
    })
  },
  edits(event){  // 修改
    const id = event.currentTarget.dataset.id;
    console.log("edits  id=",id);
    try {
      Dialog.confirm({
        title: '确认修改 ？',
      }).then(() => {
        wx.navigateTo({
          url: '/pages/factory/assets/${lowUpp}/edit/${upp}Edit?id=' + id,
        })
      }).catch(() => { })
    } catch (e) {
      console.log(e)
    }
  },
  deletes(event){// 删除
    const id = event.currentTarget.dataset.id;
    console.log("deletes  id=", id);
    try{
      Dialog.confirm({
        title: '确认删除 ？',
      }).then(() => {
		${upp}Api.deleteById(id ,(res) => {
		  if(res.code == 0){
        // 业务处理
        util.showSuccessToast('删除成功!')
        this.loaddata()
		});
      }).catch(() => {})
    }catch(e){
      console.log(e)
    }
  },
  loaddata(){
    let that = this
    wx.showLoading({
      title: '加载中...',
      mask: true,
    })
    that.setData({ dataList: [{ id: 1, select: false }, { id: 2, select: false }, { id: 3, select: false }, { id: 4, select: false }] })
	${upp}Api.findById({ id: 1, } ,(res) => {
		  if(res.code == 0){
    api.execute(apiurl.ProdAccessList, { id: 1, }, 'application/json',
      (res) => {
        console.log(" -- success -- ", res)
      },
      (err) => {
        console.log(" -- fail -- ", err)
      },
      (res) => {
        console.log(" -- complete -- ", res)
        wx.hideLoading();
      });
  },
  toggle(type) {
    this.setData({
      [`show.${type}`]: !this.data.show[type]
    });
  },
  onPullDownRefresh: function () {  //下拉刷新

  },
  onLoad: function (options) {
    
  },
  onReady: function () {
    // 页面渲染完成
    wx.setNavigationBarTitle({
      title: "辅料管理"
    })
  },
  onShow: function () {
    // 页面显示
    this.loaddata()
  },
  onHide: function () {
    // 页面隐藏
  },
  onUnload: function () {
    // 页面关闭
  },
});
