package ${packageName} ;

import lombok.Getter;
import lombok.Setter;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
/**
* @类说明: ${table.comment}--实体类
* @author: ${author}
* @date : ${time}
**/
@Setter
@Getter
@Accessors(chain = true)
@Builder	
@AllArgsConstructor
@NoArgsConstructor
public class ${table.className} {

    //数据库中的字段
    #foreach ($fi in $fList)
    private ${fi.allTypeName} ${fi.lowerCamel} ;//  ${fi.comment}
    #end

    //此处可添加查询显示辅助字段

}