package ${pName};

import java.security.Principal;
import java.util.List;
import org.alvin.code.gen.utils.Page;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.*;
import org.alvin.code.gen.beans.ResultBean;
 

/**
* @类说明: "[${cName}]app端Swagger控制器类"
* @author: ${auth}
* @date : ${time}
**/
@Api(value = "[${cName}]控制器", description = "[${cName}]相关操作")
@RestController
@RequestMapping("/api/${lowUpp}")
public class ${clsUpp}ApiController  {

    @SuppressWarnings("unused")
	private final Log logger = LogFactory.getLog(getClass());
	
    @Autowired
	private ${clsUpp}Service service; //注入[${cName}]业务逻辑类

    /**
     * @方法说明：  新增[${cName}]记录
     */
    @ApiOperation(value = "新增[${cName}]", notes = "返回影响记录行数")
	@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        #foreach($fi in $fList)

            @ApiImplicitParam(name = "${fi.name}", value = "${fi.comment}", paramType = "query", dataType="${fi.type}"),
        #end

		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })

    @PostMapping("save")
	public ResultBean<Integer> save( ${clsUpp} ${lowUpp}, Principal principal) {
    		return new ResultBean<>(service.save(${lowUpp}));
    	}
    

    /**
    * @方法说明： 删除[${cName}]记录
    */
    @ApiOperation(value = "删除[${cName}]", notes = "返回影响记录行数")
	@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        @ApiImplicitParam(name = "id", value = "[${cName}]的主键", required = true, dataType = "${idType}", paramType = "query"),
		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })
    @PostMapping( "delete" )
    public ResultBean<Integer> delete(@RequestParam("id") ${idType} id) {
            return new ResultBean<>(service.delete(new ${idType}[] { id }));
        }

    /**
    * @方法说明： 修改[${cName}]记录
    */
    @ApiOperation(value = "修改[${cName}]", notes = "返回影响记录行数")
		@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        #foreach($fi in $fList)

            @ApiImplicitParam(name = "${fi.name}", value = "${fi.comment}", paramType = "query", dataType="${fi.type}"),
        #end

		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })
    @PostMapping("update")
    public ResultBean<Integer> update( ${clsUpp} ${lowUpp}, Principal principal) {
        return new ResultBean<>(service.update(${lowUpp}));
    }

    /**
    * @方法说明： 按条件查询分页[${cName}]列表
    */
    @ApiOperation(value = "按条件查询分页[${cName}]列表", notes = "返回分页[${cName}]列表")
		@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        #foreach($fi in $fList)

            @ApiImplicitParam(name = "${fi.name}", value = "${fi.comment}", paramType = "query", dataType="${fi.type}"),
        #end

		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })
    @PostMapping( "queryPage")
    public ResultBean<Page<${clsUpp}>> queryPage( ${clsUpp}Cond cond, Principal principal) {
        // cond.setBranch_id(getSessionBranchId(principal));
        return new ResultBean<>(service.queryPage(cond));
    }

    /**
    * @方法说明： 按条件查询不分页[${cName}]列表
    */
    @ApiOperation(value = "按条件查询不分页[${cName}]列表", notes = "返回不分页[${cName}]列表")
		@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        #foreach($fi in $fList)

            @ApiImplicitParam(name = "${fi.name}", value = "${fi.comment}", paramType = "query", dataType="${fi.type}"),
        #end
        
		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })
	@PostMapping("queryList")
    public ResultBean<List<${clsUpp}>> queryList( ${clsUpp}Cond cond, Principal principal) {
            // cond.setBranch_id(getSessionBranchId(principal));
    		return new ResultBean<>(service.queryList(cond));
    }
            
    /**
    * @方法说明： 按条件查询[${cName}]记录个数
    */
    @ApiOperation(value = "按条件查询[${cName}]记录个数", notes = "返回记录个数")
		@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams(
    {
        #foreach($fi in $fList)
            @ApiImplicitParam(name = "${fi.name}", value = "${fi.comment}", paramType = "query", dataType="${fi.type}"),
        #end
		@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
    })
	@PostMapping( "queryCount")
	public ResultBean<Long> queryCount( ${clsUpp}Cond cond) {
		return new ResultBean<>(service.queryCount(cond));
	}
                
    /**
    * @方法说明： 按主键查询单条[${cName}]记录
    */
    @ApiOperation(value = "按主键查询单个[${cName}]记录", notes = "返回单个[${cName}]对象")
		@ApiResponses({
            @ApiResponse(code = 200, message = "请求成功"),
            @ApiResponse(code = 9999, message = "系统错误!"),
            @ApiResponse(code = 1006, message = "TOKEN未授权或已过期!")
    })
    @ApiImplicitParams({ 
	@ApiImplicitParam(name = "id", value = "[${cName}]的主键", required = true, dataType = "${idType}", paramType = "query"),
	@ApiImplicitParam(name = "Access-Token", value = "登录令牌", paramType = "header", dataType = "string")
 })
    @PostMapping( "findById")
    public ResultBean<${clsUpp}> findById(@RequestParam("id") ${idType} id) {
    		return new ResultBean<>(service.findById(id));
    	}
}

