package ${pName} ;

import lombok.Getter;
import lombok.Setter;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import org.alvin.code.jdbc.beans.BaseCondition;
import java.util.List;


/**
* @类说明: ${cName}--查询条件实体类
* @author: ${auth}
* @date : ${time}
**/
@Setter
@Getter
@Accessors(chain = true)
@Builder
@AllArgsConstructor
@NoArgsConstructor 
public class ${clsUpp}Cond extends BaseCondition {


    /**
    * @方法说明: 拼加自定义条件
    **/
    @Override
    public void addCondition() {
    #foreach ($fie in $fList)
        #if($fie.type == "String")
        add(${fie.lower_camel} , " AND t.${fie.name} LIKE ? " ,3);
        #else
        add(${fie.lower_camel} , " AND t.${fie.name} = ? " );
        #end
    #end
     add(ids, "AND t.id IN ");
    }

    //feilds
    #foreach ($fie in $fList)
    private  ${fie.allTypeName}  ${fie.lower_camel} ;//  ${fie.comment}
    #end

    private List<${id.allTypeName}> ids;// 主键列表
}