import Page from '../../../common/page';
import Dialog from '../../../dist/dialog/dialog'
import ${clsUpp}Api from '../../../utils/${clsUpp}Api.js'
var util = require('../../../utils/util.js');
const initForm =  {
		#foreach($fi in $fList)
			${fi.name}:null, 
		#end
		search: null
	};

Page({
  data: {
    show:{
      searchdia : false,  // 是否显示筛选条件
      selectAll : false,  // 是否全选
      datadeta : false,   // 详细数据是否显示
      opAllshow: false,   // 是否显示多选操作窗口
    },
	searchForm: { ...initForm},
    total: 0, //总条数
	page: 1, // 当前页码
	size: 20, //每页条数
	dataList: [], //展示的数据
	detailObj: null
   
  },
  showDetailBar(event){
	this.setData({
		detailObj : event.currentTarget.dataset.obj,
		"show.datadeta" : !this.data.show.datadeta
	});
  },
  doSelectAll(){  // 全选 / 取消全选
    let dataList = this.data.dataList
    const isselect = !this.data.show.selectAll
    for (let i in dataList){
      dataList[i].select = isselect
    }
    this.setData({ dataList, 'show.selectAll' : isselect })
  },
  doSelectOne(event) {  // 全选 / 取消全选
    console.log("selectindex=",event)
    const rowindex = event.currentTarget.dataset.rowindex;
    var temp_str = 'dataList[' + rowindex + '].select';
    const isselect = !this.data.dataList[rowindex].select
	if(this.data.show.selectAll == true && isselect == false){
		this.setData({ [temp_str]: isselect , 'show.selectAll' : false  })
	}else if (this.data.show.selectAll == false && isselect == true){
		this.setData({ [temp_str]: isselect });
		for(let i = 0 ; i < this.data.dataList.length ;i++){
		  if(i == rowindex){
			continue;
		  }
		  if(this.data.dataList[i].select == false){
			return ;
		  }
		}
		this.setData({ 'show.selectAll': true });
	} else {
		this.setData({ [temp_str]: isselect })
	} 
    console.log("this.data.dataList=", this.data.dataList)
  },
  opAllshow(){  // 显示多选操作框
    let opidArr = this.data.dataList.filter(item => item.select == true).map(item => item.id);
    if (opidArr.length < 1) {
      util.showErrorToast("请先选择数据！");
      return
    }
	 this.setData({
      "show.opAllshow": !this.data.show.opAllshow
    });
  },
  closeopAllshow(){
    this.setData({'show.opAllshow': false })
  },
  deleteAll() {  // 多选删除
    const dataList = this.data.dataList
    let opidArr = dataList.filter(item => item.select == true).map(item => item.id);
    if (opidArr.length < 1) {
      util.showErrorToast("请先选择数据！");
      return
    }
    console.log("deleteAll 选择的数据=", opidArr)
    const that = this;
    try {
      Dialog.confirm({
        title: '确认要删除吗？',
      }).then(() => {
        AdminApi.deleteById(opidArr, (res) => {
          if (res.code == 0) {
            that.setData({ 'show.opAllshow': false, 'show.selectAll': false , dataList : [] , page: 1 })
            // 业务处理
            util.showSuccessToast('删除成功!')
            that.refresh()
          } else {
            util.showErrorToast(res.errorMsg);
          }
        });
      }).catch(() => { })
    } catch (e) {
      console.err(e)
    }
  },
  onSearch(event){  // 搜索
    const value = event.detail;
    this.setData({
      "searchForm.search" : value, dataList : [] , page: 1 
    });
    this.refresh()
  },
  showSearchBar() { //显示搜索界面
    this.setData({ "show.searchdia": !this.data.show.searchdia });
  },
  resetSearch(){ //重置搜索条件
    this.showSearchBar();
    this.setData({ searchForm :{...initForm}, dataList : [] , page: 1 });
    this.refresh()
  },
  search(){ // 搜索
    this.showSearchBar();
	this.setData({dataList : [] , page: 1 });
    this.refresh();
  },
  add(){    //  新增
    wx.navigateTo({
      url: './edit/${clsUpp}Edit',
    })
  },
  edits(event){  // 修改
    const id = event.currentTarget.dataset.id;
    console.log("edits  id=",id);
    try {
      Dialog.confirm({
        title: '确认修改 ？',
      }).then(() => {
        wx.navigateTo({
          url: './edit/${clsUpp}Edit?id=' + id,
        })
      }).catch(() => { })
    } catch (e) {
      console.err(e)
    }
  },
  deletes(event){// 删除
    const id = event.currentTarget.dataset.id;
    console.log("deletes  id=", id);
    Dialog.confirm({
      title: '确认删除 ？',
    }).then(()=>{
      ${clsUpp}Api.deleteById([id] ,(res) => {
        if(res.code == 0){
          // 业务处理
          util.showSuccessToast('删除成功!');
		  this.setData({dataList : [] , page: 1 });
          this.refresh();
        }else {
          util.showErrorToast(res.errorMsg);
        }
      });
    }).catch(e =>{
      console.err(e);
    });
  },
  refresh(){
    let that = this
    wx.showLoading({
      title: '加载中...',
      mask: true,
    })
	const requestData = {...that.data.searchForm, page: that.data.page - 1, size: that.data.size};
	${clsUpp}Api.queryPage(requestData,(res)=>{
		if(res.code == 0){
			that.setData({
			  dataList: res.data.content.map(item => { return { ...item, select: false}}),
			  total : res.data.totalElements
			});
		}else {
			console.err(res);
		}
	},null,(res)=>{wx.hideLoading();});
  },
   closeDetail(){
    this.setData({
      "show.datadeta": !this.data.show.datadeta
    });
  },
  onPullDownRefresh: function () {  //下拉刷新
	let curTotal = this.data.page * this.data.size;
	if(curTotal >= this.data.total){
		
		return ;
	}
	this.refresh();
  },
  onLoad: function (options) {
    
  },
  onReady: function () {
    // 页面渲染完成
    wx.setNavigationBarTitle({
      title: "${cName}管理"
    })
  },
  onShow: function () {
    // 页面显示
	this.setData({dataList : [] , page: 1 });
    this.refresh()
  },
  onHide: function () {
    // 页面隐藏
  },
  onUnload: function () {
    // 页面关闭
  },
  #foreach($fi in $fList)
  
  onChange${fi.upper_camel}(event){
  //修改 ${fi.comment}
	this.data.searchForm.${fi.name} = event.detail
  },
  #end
});
